
.Title{
Justify-content:center;
Display:flex;
border: 5px solid black;
    font-family:Cursive;
    background-Color:lightyellow;
    color:blue;}
body{background-color:blue;}

img {
    width: 400px;   
    height:400px;
    padding:5px;
    border-style:double;
    Border-width:10px;
}
.navBar{
Display:flex;
Justify-content:space-around;
margin:25px;
border: 5px solid black;
    font-family:Cursive;
    background-Color:lightyellow;
    color:blue;}

.M1{ border-style:double;
    padding:5px;
    border: 5px solid black;
    font-family:Cursive;
    background-Color:lightyellow;
    color:blue;
}
.aboutMe{
Display:block;
justify-content:center;
Margin:5px;
    padding:10px;
    border: 5px solid black;
    font-family:Cursive;
    background-Color:lightyellow;
    color:blue;
    float:left;
    width:30%;
     Text-align:center;
}
.posts{
Display:block;
justify-content:center;
Margin:5px;
    padding:10px;
    border: 5px solid black;
    font-family:Cursive;
    background-Color:lightyellow;
    color:blue;
    float:left;
    width:33%;
    Text-align:center;
}
.friendsList{
Display:block;
justify-content:center;
Margin:5px;
    padding:10px;
    border: 5px solid black;
    font-family:Cursive;
    background-Color:lightyellow;
    color:blue;
    float:left;
    width:30%;
     Text-align:center;
}